body {
    font-family:Garamond;
    background-color: #1a1a2a;
    color:white;
    text-align:center;
    padding:40px;
}

.button {
    width:500px:
    height:70px;
    background-color: #0a0a23;
    color:#fff;
    border:none;
    border-radius:10px;
    font-size:16px;
    font-family:Garamond;
    cursor:pointer;
    margin:10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #e94560;
}

.message{
    color: #daa520;    
    font-size:x-large;
    text-decoration-line: underline;
}
h1 {
    text-decoration-line: underline;
}